html(ng-app="App")
    head
        title Be My Beer Backoffice
        style(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        base(href="/")

    body
        nav.navbar.navbar-inverse
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(ui-sref="#") Be My Beer

                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(ui-sref="beerList") Mis Cervezas

                        li
                            a(ui-sref="categoryList") Categorías


        ui-view

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap.min.js")
        script(src="/angular/app.js" type="text/javascript")
        script(src="/angular/routes.js" type="text/javascript")
        script(src="/angular/beerListController.js" type="text/javascript")
        script(src="/angular/beerEditionController.js" type="text/javascript")
        script(src="/angular/categoryEditionController.js" type="text/javascript")
        script(src="/angular/categoryListController.js" type="text/javascript")