html(ng-app="App")
    head
        title Be My Beer Backoffice
        style(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap.min.js")
        script(src="/javascripts/app.js" type="text/javascript")

    body(ng-controller="userListController",  ng-init="loadUsers()")
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header

                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="#") Crear Usuario
                        li
                            a(href="#") Usuarios