div.jumbotron.text-center
    h1 Cervezas

button.btn-success(ng-click="blc.newBeer()") Nueva Cerveza
div(name="divBeerList" ng-init="blc.loadAllBeers()")
    table.table.table-hover(name="tblBeerList")
        thead
            tr
                th Id
                th Nombre
                th Categoría
                th Graduación
                th
        tbody
            tr(ng-repeat="item in blc.data")
                td
                    a(ng-href="/admin/beer/{{item.id}}") {{item.id}}
                td
                    a(ng-href="/admin/beer/{{item.id}}") {{item.name}}
                td
                    a(ng-href="/admin/category/{{item.idCategory}}") {{item.categoryName}}
                td {{item.graduation}}
                td
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") ...
                        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Modificar
                                li
                                    a(href="#") Eliminar


