div(ng-init="bec.getBeerData()")
    div.jumbotron.text-center
        h1 {{bec.name}}
        h2 {{bec.graduation}}% ({{bec.categoryName}})

    div.container
        div.col-sm8.col-sm-offset2
            form(name="beerForm" ng-submit="bec.submitForm(beerForm.$valid)" novalidate)
                div.form-group(ng-class="{ 'has-error' : beerForm.beerName.$invalid && !beerForm.beerName.$pristine }")
                    label Nombre
                    input.form-control(type="text" name="beerName" id="beerName" ng-model="bec.name" required ng-maxlength="50")
                    p.help-block(ng-show="beerForm.beerName.$invalid && !beerForm.beerName.$pristine") Puedes currartelo más
                    p.help-block(ng-show="beerForm.beerName.$error.$maxlenght && !beerForm.beerName.$pristine") Para tanto no me da la BD hermano

                div.form-group(ng-class="{ 'has-error' : beerForm.beerCategory.$invalid && !beerForm.beerCategory.$pristine }")
                    label Categoría
                    select.form-control(name="beerCategory" id="beerCategory" required)
                        option a
                        option b
                    p.help-block(ng-show="beerForm.beerCategory.$invalid && !beerForm.beerCategory.$pristine") Compadre, márcate la categoría

                div.form-group(ng-class="{ 'has-error' : beerForm.beerGraduation.$invalid && !beerForm.beerGraduation.$pristine}")
                    label Graduación
                    input.form-control(type="number" name="beerGraduation" id="beerGraduation" ng-model="bec.graduation" ng-minlength="1" ng-maxlength="5")
                    p.help-block(ng-show="beerForm.beerGraduation.$invalid && !beerForm.beerGraduation.$pristine && beerForm.beerGraduation.$error.$minlenght") La graduación, si vous plait
                    p.help-block(ng-show="beerForm.beerGraduation.$error.maxlenght") Menos lobos caperucita
                button.btn.btn-success(type="submit" ng-disabled="bec.$invalid") Guardar
                button.btn.btn-danger(ng-click="bec.deleteBeer()" ng-show="bec.id > 0" ng-disabled="bec.$invalid") Borrar
                button.btn.btn-primary(ng-href="/admin/beers" ng-disabled="bec.$invalid") Volver