div.jumbotron.text-center
    h1 Categorías

button.btn-success(ng-click="clc.newCategory()") Nueva Cerveza
div(name="divCategoryList" ng-init="clc.getCategoriesByParent()")
    table.table.table-hover(name="tblBeerList")
        thead
            tr
                th Id
                th Nombre
                th
        tbody
            tr(ng-repeat="item in clc.data")
                td
                    a(ng-href="/admin/category/{{item.id}}") {{item.id}}
                td
                    a(ng-href="/admin/category/{{item.id}}") {{item.name}}
                td
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") ...
                        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                            li
                                a(href="#") Modificar
                            li
                                a(href="#") Eliminar


